<div class="container p-4">

  <!-- CABECERA -->
  <div class="card mb-3">
    <div class="card-body d-flex justify-content-between">

      <div>
        <strong>{{ usuarioLogueado?.displayName }}</strong><br>
        {{ usuarioLogueado?.email }}<br>
        Último: {{ ultimoRegistro }}
      </div>

      <button class="btn btn-danger" (click)="salir()">
        SALIR
      </button>

    </div>
  </div>

  <div class="row">

    <!-- FORMULARIO -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">

          <input class="form-control mb-2"
                 placeholder="Nombre"
                 [(ngModel)]="proyecto.nombre">

          <input class="form-control mb-2"
                 type="number"
                 placeholder="Horas Estimadas"
                 [(ngModel)]="proyecto.horasEstimadas">

          <input class="form-control mb-2"
                 type="number"
                 placeholder="Horas Reales"
                 [(ngModel)]="proyecto.horasReales">

          <input class="form-control mb-2"
                 type="number"
                 placeholder="Costo Hora"
                 [(ngModel)]="proyecto.costoHora">

          <button class="btn btn-success w-100"
                  (click)="guardar()">
            GUARDAR
          </button>

          <!-- LISTA -->
          <div *ngFor="let p of proyectos" class="card mt-2">
            <div class="card-body d-flex justify-content-between">

              <div>
                <strong>{{ p.nombre }}</strong><br>
                Total: {{ p.horasReales * p.costoHora }}
              </div>

              <button class="btn btn-danger"
                      (click)="eliminar(p._id!)">
                🗑️
              </button>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- GRAFICAS -->
    <div class="col-md-7">
      <div id="grafica1" style="height:250px;"></div>
      <div id="grafica2" style="height:250px;"></div>
    </div>

  </div>

</div>